includes:
    - phpstan-baseline.neon
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 1
    paths:
        - .

    excludePaths:
    - ./vendor/*
    - ./docs/*
    - ./Tests/*

    
    checkMissingIterableValueType: false
